<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit item</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <form action="#" th:action="@{/items/update}" th:object="${item}" method="post">
        <p th:if="${#fields.hasErrors('title')}">Title cannot be empty.</p>
        <p>Title:<input type="text" th:field="*{title}"></p>
        <p th:if="${#fields.hasErrors('occupiedSize')}">Occupied size cannot be empty.</p>
        <p>Occupied size:<input th:field="*{occupiedSize}"></p>
        <p th:if="${#fields.hasErrors('price')}">Price size cannot be empty.</p>
        <p>Price:<input type="text" th:field="*{price}"></p>
        <input type="hidden" name = "itemId" th:value="${#request.getParameter('itemId')}"/>
        <button type="submit">Edit</button>`
    </form>
</div>
<a href="/">Главная</a>
</body>
</html>