<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Items</title>
    <meta charset="UTF-8"/>
</head>
<body>
<table cellspacing="10">
    <thead >
    <th>ID</th>
    <th>Title</th>
    <th>Size</th>
    <th>Price</th>
    </thead>
    <th:block th:each="item: ${items}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.occupiedSize}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <form action="#" th:action="@{/items}" th:method="DELETE">
                    <input name="_method" type="hidden" value="DELETE"/>
                    <input type="hidden" name="id" th:value="${item.id}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/items/update}" th:method="get">
                    <input type="hidden" name="itemId" th:value="${item.id}"/>
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<div sec:authorize="hasRole('ADMIN')">
    <h4><a href="/items/create">Add</a></h4>
</div>
<a href="/">Главная</a>
</body>
</html>